<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add a Class</title>
</head>
<body>
  <h1>Add a Class</h1>

  <form action="/add" method="POST">
    <div>
      <label for="name">ClasId:</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="class">ClassName:</label>
      <input type="text" id="class" name="class">
    </div>

    <div>
      <label for="">NumStudent:</label>
      <input type="text" id="student" name="student">
    </div>

    <div>
      <label for="teacher">teacherId:</label>
      <input type="text" id="teacher" name="teacher">
    </div>

    <button type="submit">Add</button>
  </form>
</body>
</html>
